/*Copyright by Freja Hansen*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #d7d7d7;
    padding-bottom: 80px;
  }

.center-left{
    float: center;
    width: 75%;
    padding-left: 400px;
}

.card {
    background-color: #f0ffff;
    padding: 20px;
    margin-top: 110px;
  }

.split:after{
    content: "";
  display: table;
  clear: both;
}

.content-img{
    text-align: center;
    width: 100%;
    padding: 20px;
}

.content-img > #image_news_right{
    width: 250px;
    height: 250px;
}
