div#footer {
    z-index: 1;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a7a4a4;
    left: 0;
    width: 100%;
    bottom: 0;
  }

div#footer .footer-left{
    padding-left: 100px;
    float: left;
    font-weight: bold
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#footer .footer-left > a{
    font-weight: bold;
    color: black;
}

div#footer .footer-right{
    padding-right: 100px;
    float: right;
    font-weight: bold;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}