/*Copyright by Adrian Militaru*/


div#footer.container-fluid{
    left: 145px;
  width: 100%;
}

.text-color-aqua{
    color: rgb(120, 180, 220);
}


.bg-gradient {
    background-image: linear-gradient(to top, #12123a, #151546, #181853, #1b1b5f, #1e1e6c);
}