/*Copyright by Adrian Militaru*/

div#navbar ul {
  z-index: 0;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  left: 145px;
  width: 100%;
  }
  
.NAVlogo {
position: fixed;
background-color: #333;
float: left;
z-index: 1;
display: inline-block;
text-align: center;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
top: 0;
left: 0px;
border: 2px;
width: 150px;
height: 125px;
overflow: auto;
}


div#navbar li {
float: left;
}
  
div#navbar li a {
display: block;
font-weight: bold;
color: white;
text-align: center;
padding: 20px 50px;
text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
div#navbar li a:hover {
background-color: rgba(15, 106, 167, 0.4);
}

div#navbar .active {
background-color: rgba(120,180,220,.4);
}

