/*Copyright by Adrian Militaru*/



.NAVlogo {
position: fixed;
background-color: #343a40;
z-index: 0;
display: inline-block;
text-align: center;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
top: 0;
left: 0px;
border: 2px;
width: 150px;
height: 125px;
overflow: auto;
}


  

  /* Change the link color to #111 (black) on hover */
li#navbar > a:hover {
background-color: rgba(15, 106, 167, 0.4);
}

li#navbar .active {
background-color: rgba(120,180,220,.4);
}

