/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(120,180,220,.4); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 106, 167, 0.4); 
  }