/* width */
::-webkit-scrollbar {
    width: 25px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8c0707; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8c0707; 
  }